:root {
    --bodyFont: "Inter Tight", sans-serif;
    --titleFont: "Inter Tight", sans-serif;
    --transition: all 0.3s ease 0s;
    --whiteColor: #ffffff;
    --primaryColor: #0073FF;
    --primaryFgColor: #ffffff;
    --secondaryColor: #171A1E;
    --secondaryFgColor: #ffffff;
    --bodyColor: #616C74;
    --titleColor: #121213;
    --borderColor: #E5E5E5;
    --shadeColor: #F8F8F9;

    --plyr-color-main: var(--primaryColor);
}